!= partial('header')
.container
  .content
    .page-header
    .hero-unit
      div
        h2 About
        div Chat on Node is the product of 
          a(href="http://connpass.com/event/280/") the fourth Node Gakuen
          .
        div It is running on 
          a(href="https://node-ninja.com") Node Ninja
          .
        .
      div
        h2 Acknowledgments
        div Thanks to @meso for showing us how to enjoying Node.
        div Thanks to Node Ninja for the continuing good service.
        div Thanks to everyone in the Node Gakuen.

  footer!= partial('footer')
