!= partial('header')
.container
  .content
    .page-header
    .row
      p.visitor_counter The current number of visitors 
        span#count
      div.span2_5
        form#form(onsubmit='send(); return false;')
          input#name(type='text', class='span2_5', placeholder='Twitter ID')
          input#text(type='text', class='span2_5', placeholder='Message', autocomplete='off')
          br
          input(type='submit', value='send')

      div.span6
        .well
          #chat
      div.span3
        .well
          p bot
          #bot

  footer!= partial('footer')
