!!! 5
html
  head
    title= title
    link(rel='stylesheet', href='/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/overwrite.css')
    script(type='text/javascript', src='/socket.io/socket.io.js')
    script(type='text/javascript', src='/javascripts/jquery.min.js')
    script(type='text/javascript', src='/bootstrap/js/bootstrap.min.js')
    script(type='text/javascript')
      var socket = io.connect(window.location);
      socket.on('count change', function(count) {
        $('#count').text(count);
      });
      socket.on('new message', function(data) {
        var name = data.name;
        var text = data.text;
        $('#chat').append('<div><span class="chat_name">' + name + '</span>> '+ text + '</div>');
      });
      socket.on('bot message', function(data) {
        var title = data.title;
        var url = data.url;
        $('#bot').append('<div>' + title + "<br />" + url + '</div>');
      });
      function send() {
        var name = $('#name').val();
        var text = $('#text').val();
        if (name && text && name != "Twitter ID" && text != "Message") {
          socket.emit('new message', {name: name, text: text});
          $('#text').val('');
        }
      };
  body!= body
